.bg{
	background-color: #dfdfdf;
}

.box{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 9999;
	margin-left: 20%;
	margin-right: 20%;
}

img.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

h2.intestazione{
	font-family: Roboto, sans-serif;
	color:white;
	margin-top: 10px;
	margin-bottom:40px;
}

/*Prenotazioni*/
td,th,tr {
        border: 1px solid rgba(0, 0, 0, 0.05)
      }
      
td:hover {
        background: rgba(0, 0, 0, 0.16);
}
      
th {
        text-align: center;
        width: 7em;
}

td{
        width:6em;
}
      
td.selected {
        background: #f9a13caa;
        text-align: center;
        color: #1b1c1d;
}
      
table{
        min-width:800px;
}
      
div#container{
        background-color:#efefef;
        width:100%;
        overflow-x:scroll;
}

nav{
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.03);
}

/*BOUNCE OUT Effect*/

.animated-lav {
            background-image: url(../img/lav.jpg);
            background-size: cover;
            background-position: left;
            padding-top:250px;
            margin-bottom:5px;
            -webkit-animation-duration: 10s; 
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }
         

.animated-sann {
            background-image: url(../img/sannetflixino.png);
            background-size: cover;
            background-position: left;
            padding-top:250px;
            margin-bottom:5px;
            -webkit-animation-duration: 10s; 
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }

 @-webkit-keyframes bounceOut {
    0% {
       -webkit-transform: scale(1);
    }
    25% {
       -webkit-transform: scale(.95);
    }
    50% {
       opacity: 1;
       -webkit-transform: scale(1.1);
    }
    100% {
       opacity: 1;
       -webkit-transform: scale(.95);
    }
 }
 
 @keyframes bounceOut {
    0% {
       transform: scale(1);
    }
    25% {
       transform: scale(.95);
    }
    50% {
       opacity: 1;
       transform: scale(1.1);
    }
    100% {
       opacity: 1;
       transform: scale(.95);
    }
 }
 
 .bounceOut:hover {
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
 }

/*END*/