.bg{
	color: transparent;
}

.btn1{
  background-color: #DCDCDC;
  color: #000;

}

.formD{
  margin-bottom: 50px; 
  margin-top: 30px;
}

.h1D{
  text-align: center; 
  color: #fff; 
  font-family: 'Roboto', sans-serif; 
  margin-top: 20px;
}

.nav-col{
  background-color: #0c0c0c !important;
}

.inputC{
  width: 50% !important;
}

.box-desktop{
  border:1px solid #343a40 ; 
  width: 35%;
  background-color: #343a40 ;
  border-radius: 50px;
  height: 100%;
}

form{
	align-items: center;
	text-align: center;
	margin-top: 20px;
}


.icon{
	width: 1000px;
	height: 250px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px 15px 15px 15px;
    opacity: 0.7;
}

.bg-image{
	position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

 	display: block;
 	background: url(../lavasciuga/img/lavanderia.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 	width: 1200px;
  height: 800px;

	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);


}

.content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.bg-reg{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background: url(../lavasciuga/img/lavanderiaReg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1200px;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);


}

.bg-pre{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background: url(../lavasciuga/img/panni.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1200px;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);


}

/*BOUNCE OUT Effect*/

.animated-lav {
            background-image: url(../lavasciuga/img/dio.jpg);
            background-size: cover;
            background-position: left;
            padding-top:250px;
            margin-bottom:5px;
            -webkit-animation-duration: 10s; 
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }
         

.animated-sann {
            background-image: url(../sannetflixino/img/sannetflixino.png);
            background-size: cover;
            background-position: left;
            padding-top:250px;
            margin-bottom:5px;
            -webkit-animation-duration: 10s; 
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }

         @-webkit-keyframes bounceOut {
            0% {
               -webkit-transform: scale(1);
            }
            25% {
               -webkit-transform: scale(.95);
            }
            50% {
               opacity: 1;
               -webkit-transform: scale(1.1);
            }
            100% {
               opacity: 1;
               -webkit-transform: scale(.95);
            }
         }
         
         @keyframes bounceOut {
            0% {
               transform: scale(1);
            }
            25% {
               transform: scale(.95);
            }
            50% {
               opacity: 1;
               transform: scale(1.1);
            }
            100% {
               opacity: 1;
               transform: scale(.95);
            }
         }
         
         .bounceOut:hover {
            -webkit-animation-name: bounceOut;
            animation-name: bounceOut;
         }

/*END*/


/* Add a black background color to the top navigation */
body{
  margin:0;
  padding:0; 
}

.topnav {
    background-color: #343a40;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black !important;
    text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
}

table, thead, thead>tr{
  width: 100%;
}

td{
  width: 6.66% !important;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: #fff;
}

tr.sticky > th:first-child{
  width: 6.66% !important;
}

tr.sticky > th{
  width: 12em;
}

@media only screen and (min-width: 0px) and (max-width: 992px) {

  .content{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
    margin: 0;
  }  

  .box-desktop{
    display: block;
    width:100%;
  }

  .inputC{
    width: 25% !important;
  }

  .bg{
    background-color: #343a40;
  }

  .h1D{
    text-align: center; 
    color: #fff; 
    font-family: 'Roboto', sans-serif; 
    margin-top: 20px;
    font-size: 50px;
  }


}
